.body{
    background-color: black;

}
.nav{
    margin: 0px;
    float: center;
    background-color: rgb(207, 143, 5);
    color: white;
}
.email{
    color: white;
}

.sub{
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 1rem 0;
    padding: 1rem 2rem;
    text-transform: uppercase;
    white-space: nowrap;
}
.login{
    border-radius: 10px;
    font-size: 1.2rem;
    height: 40px;
}


