*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(52, 52, 153);
}
.navbar{
    background-color: white;
    height: 70px;
}
.navbar > img{
    float: left;
cursor: pointer;
 width: 60px;
 padding: 4px 26px;
}
.navbar > ul{
    padding-top: 30px;
    float: right;
    display: flex;
}
.navbar > ul > li{
    list-style-type: none;
}
#photo{
    height: 400px;
    width: 400px;
}
.selection{
    display: flex;
}
div p {
    margin-top: 140px;
}

.password{
    visibility: hidden;
}
.email{
    visibility: hidden;
}



